<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Times</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="city">
        <button type="submit">Search</button>
    </form>
    <h1>Fajr: <%= fajr%></h1>
    <h1>Sunrise: <%= sunrise%></h1>
    <h1>Dhuhr: <%= dhuhr%></h1>
    <h1>Asr: <%= asr%></h1>
    <h1>Maghrib: <%= maghrib%></h1>
    <h1>Isha: <%= isha%></h1>

</body>
</html>